#post-form-page {
  padding: 0 32px;
  width: calc(100% - 64px);
  @include tablet {
  }

  .title-input {
    display: block;
    width: 100%;
    margin: 32px 0;
    padding: 12px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;

    font-size: 24px;
    font-weight: 600;

    color: #232323;
  }

  .btn-publish {
    background: #fc4275;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s;

    &:hover {
      // background: #d6325e;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
