#home-page {
  height: calc(100% - 100px);
}

#home-page .demo-section {
  width: 100%;
  height: calc(100% - 180px);
  border: none;
}

#home-page .demo-navigation .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#home-page .demo-navigation .demo-description {
  z-index: 1;
  position: relative;
  margin: -58px 0 0 -40px;
  padding: 25px 40px;
  background-color: #fff;
  min-width: 450px;
}
#home-page .demo-navigation .demo-description h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 800;
}
#home-page .demo-navigation .demo-description p {
  font-family: "PlayFair Display";
  margin-top: 10px;
  font-size: 22px;
}
#home-page .demo-navigation .demo-link {
  list-style: none;
  display: flex;
  padding-left: 0;
}
#home-page .demo-navigation .demo-link li {
  margin-right: 15px;
}

#home-page .demo-navigation-arrows a {
  line-height: 180px;
  font-weight: 800;
  font-size: 24px;
}

#home-page .demo-navigation-arrows a:last-of-type {
  margin-left: 40px;
}
