html,
body,
#root,
#app-layout {
  height: 100%;
}
* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  color: #fc4275;
  text-decoration: none;
}

.container {
  width: 100%;

  @include desktop {
    width: 1200px;
  }
  margin: 0 auto;

  &.narrow {
    width: 100%;

    @include desktop {
      width: 800px;
    }
  }
  .content {
    padding: 0 32px;
    display: block;
    width: calc(100% - 64px);
  }
}

.text-strikethrough {
  text-decoration: line-through;
}
